/* Header */
.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96px;
  font-size: 18px;
}

.header__menu {
  justify-self: start;
}

.header__links-list {
  display: flex;
  align-items: center;
  gap: 32px;
  list-style: circle;
  padding: 0;
  margin: 0;
}

.header__links-list-item:first-child {
  list-style: none;
}

.header__link {
  text-decoration: none;
}

.header__link_active {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.header__logo {
  display: block;
  width: 148px;
  justify-self: center;
}

.header__address {
  justify-self: end;
}

.address {
  font-style: normal;
  line-height: 24px;
  max-width: 240px;
}

.address__link {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.address__text {
  display: inline-block;
}

/* Cover */
.cover {
  position: relative;
  color: #fff;
  background-image: url("../images/cover.jpg");
  background-size: cover;
  background-position: center;
  min-height: 757px;
  padding: 165px 50px 50px;
  margin-bottom: 180px;
}

.cover::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 0;
}

.cover__title {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 100px;
  font-weight: 700;
  line-height: 1.05;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  margin-bottom: 120px;
  z-index: 1;
}

.aligned-text {
  display: block;
}

.aligned-text_left {
  text-align: left;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

.cover__description {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  z-index: 1;
}

.cover__description-text {
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 0.14em;
  word-spacing: 0.2em;
}

.cover__bet-button {
  padding: 12px 32px;
  border: 1px solid #fff;
  background: transparent;
  color: #fff;
  text-transform: uppercase;
  font-size: 22px;
  cursor: pointer;
}

/* Lots */
.lots {
  padding: 0 50px 180px;
}

.lots__title {
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: 27px;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  list-style: none;
  padding: 0;
  margin: 0 0 30px;
}

.lots__card-list-item {
  flex: 1 1 calc((100% - 50px) / 3);
  min-width: 280px;
}

.card-link {
  display: block;
  height: 100%;
  color: inherit;
  text-decoration: none;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 563px;
  padding: 24px 20px;
  color: #fff;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.card::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 0;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
}

.card__title {
  position: relative;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: underline;
  text-underline-offset: 3px;
  line-height: 1.2;
  z-index: 1;
}

.card__text {
  font: raleway;
  font-weight: 400;
  font-style: normal;
  position: relative;
  font-size: 20px;
  line-height: 1.2;
  z-index: 1;
}

.lots__look-more-link {
  font-size: 20px;
  margin-left: 2px;
  text-decoration: underline;
  text-underline-offset: 10px;
}

/* About */
.about {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    "logo title"
    ". text";
  column-gap: 25px;
  row-gap: 16px;
  padding: 0 50px 180px;
  align-items: center;
}

.about__column {
  display: flex;
  flex-direction: column;
}

.about__column_type_logo {
  align-items: center;
  grid-area: logo;
}

.about__logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000;
}

.about__logo {
  width: 148px;
}

.about__column_type_text {
  display: contents;
}

.about__title {
  font-size: 40px;
  text-transform: uppercase;
  grid-area: title;
  align-self: center;
}

.about__text {
  font-size: 18px;
  line-height: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  grid-area: text;
}

/* Footer */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 50px 90px;
  font-size: 18px;
}

.footer__address {
  max-width: 240px;
}

.footer__menu {
  text-align: center;
}

.footer__menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer__menu-link {
  text-decoration: none;
}

.footer__menu-link_active {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.footer__social-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 48px;
}

.footer__social-link {
  display: block;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}
